.pragmaic_header_logo{
    margin: 2rem 0;
    font-family: 'Pacifico', cursive;
}

.pragmaic_header_butten{
    margin-bottom: 2rem
}

.pragmaic_footer_logo{
    margin: 1.5rem 0;
    font-family: 'Pacifico', cursive;
}

.pragmaic_footer_butten{
    margin-top: 1.5rem
}